{% load static %}

<div class="nav d-flex">
    <div class="nav-left d-flex justify-content-between">
        <div class="search-box w-100">
            <input class="search" placeholder="Поиск..." name="search">
            <i class="icon-search"></i>
        </div>
        <div class="icons d-flex">
            <a href="#"><img src="{% static 'icon/account.svg' %}"></a>
            <a href="#"><img src="{% static 'icon/calendar.svg' %}"></a>
            <a href="#"><img src="{% static 'icon/info.svg' %}"></a>
        </div>
    </div>
    <div class="nav-right">
        <i class="icon-notifications"></i>
        <div class="profile">
            <img src="{% static 'icon/man.png' %}">
            <i class="icon-select"></i>
        </div>
    </div>
</div>
