@import "./font/stylesheet.css";

* {
    padding: 0;
    margin: 0;
    font-family: "Styrene A Web";
}

body {
    background-color: #f5f5f5;
}

.admin_navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 276px;
    background: linear-gradient(black, #63316B);
    color: white;
}

.admin_content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 276px;
}

.main_content{
    height: calc(100% - 99px);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.admin_content_title{
    font-weight: bold;
    font-size: 28px;
    color: #17161A;
}

.admin_content_control_panel {
    margin: 22px 0;
}

.admin_search, .admin_template_link, .admin_contract_link, .admin_create_template {
    display: inline-block;
}

.admin_search {
    width: 313px;
    height: 32px;
    background-color: white;
    margin-right: 20px;
    border: 1px solid #F1F1F1;
    font-size: 14px;
    line-height: 32px;
}

.admin_template_link, .admin_contract_link {
    width: 95px;
    height: 32px;
    /* background-color: white; */
    text-align: center;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    margin-right: 20px;
}

.active_link {
    background-color: white;
}

.active_link a {
    color: #171619!important;
}

.admin_template_link a, .admin_contract_link a, .admin_create_template a {
    text-decoration: none;
    color: #6A728A;
}

.admin_search input {
    height: 28px;
    border-color: transparent;
    outline: none;
    padding-left: 12px;
    width: 259px;
}

.admin_search button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
}

.admin_create_template a{
    color: white!important;
    font-weight: 900;
    display: block;
    text-align: center;
    width: 52px;
    color: white;
    height: 32px;
    line-height: 30px;
    /* gradient */
    background: linear-gradient(71.59deg, #60326B 0%, #BD2971 100%);
    border-radius: 2px;
}

.all_templates {
    background-color: white;
    max-height: 79%;
    /* padding-left: 17px; */
}

.template_table_header {
    height: 39px;
    padding-left: 17px;
}

.template_table_header_td {
    display: inline-block;
    line-height: 39px;
    width: calc(18%);
    color: #6A728A;
    /* padding-left: 17px; */
}

.template_table_row {
    height: 72px;
    border-top: 1px solid #f5f5f5;
    line-height: 72px;
    padding-left: 17px;
}

.template_table_cell {
    display: inline-block;
    /* width: calc(18%); */
    overflow: hidden;
}

.create_template_btn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* .first_td {
    width: 320px!important;
}

.second_td {
    width: 140px!important;
}

.third_td {
    width: 160px!important;
}

.fourth_td {
    width: 260px!important;
}


.fifth_td {
    width: 260px!important;
} */

.admin_template_paginator {
    float: right;
    display: flex;
    margin-top: 20px;
}

.admin_template_paginator > div {
    margin: 0 10px;
    text-align: center;
    color: #A8AEBA;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    width: 28px;
    height: 25px;
}

.active_page {
    background-color: #EAEEF2!important;
    color: #171619!important;
}

.page_next, .page_prev {
    width: 48px!important;
}

.contract_table_header_td{
    display: inline-block;
    line-height: 39px;
    color: #6A728A;
    padding-left: 17px;
}

.contract_table_cell{
    display: inline-block;
    line-height: 39px;
    color: #6A728A;
    padding-left: 17px;
}

.all_contract {
    background-color: white;
    width: 4000px;
}

.all_contract_wrapper {
    width: 100%;
    height: 79%;
    overflow: scroll;
}

.contract_table_cell, .contract_table_header_td {
    width: 300px;
}

.admin_navbar_logo {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.admin_navbar_menu_item {
    display: flex;
    align-items: center;
}

.item_indicator {
    height: 37px;
    width: 4px;
    margin-right: 26px;
    background-color: transparent;
}

.item_indicator_active {
    background: linear-gradient(  #BA2971 0%,#63316B 100%);
}

.item_logo {
    padding-right: 12px;
}

.item_link {
    cursor: pointer;
    color: #A8AEBA;
}

.item_link_active {
    color: white;
}

.searchbar{
    height: 73px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1DDD6;
}

.admin_panel_cab_link {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #E1DDD6;
}

.cab_link_col{
    margin-right: 25px;
    padding-top: 5px;
}

.cab_link_photo{
    margin-right: 10px;
}

.cab_link_dropdown {
    padding-bottom: 10px;
}


.admin_panel_search {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin_search_control, .admin_search_box {
    display: flex;
}

.admin_search_control > div {
    padding-right: 36px;
    padding-top: 5px;
}

.admin_search_box {
    padding-left: 30px;
}

.admin_search_box input {
    border: none;
    outline: none;
    width: 580px;
}

.admin_search_box > div {
    padding-top: 5px;
    padding-right: 10px;
}

.admin_create_template {
    cursor: pointer;
}

.new_template_popup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    display: none;
    align-items: center;
    justify-content: center;
}

.template_popup {
    width: 470px;
    background-color: white;
    border: 1px solid #888888;
}

.template_popup_title{
/* H2 18 px */
    font-family: Styrene A Web;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */


    /* Active color */

    color: #171619;
    padding-left: 62px;
    padding-top: 26px;
    padding-bottom: 33px;
}


.template_popup_title input {

    width: 336px;
    height: 32px;
    background: #F7F9FB;
    border: 1px solid rgba(216, 222, 236, 0.8);
    box-sizing: border-box;
    border-radius: 2px;

}

.cancel_btn{
    cursor: pointer;
    width: 93px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid rgba(216, 222, 236, 0.45);
    box-sizing: border-box;
    border-radius: 2px;
}

.send_template_btn {
    color: white!important;
    font-weight: normal;
    display: block;
    text-align: center;
    width: 136px;
    height: 32px;
    color: white;
    height: 32px;
    line-height: 30px;
    /* gradient */
    background: linear-gradient(71.59deg, #60326B 0%, #BD2971 100%);
    border-radius: 2px;   
    border: none;
    outline: none;
    margin-right: 62px;
    margin-left: 10px;
}

.popup_btn_div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 28px;
    justify-content: flex-end;
}


.first_col_template{ width: 19% !important; }
.second_col_template{ width: 19% !important; }
.third_col_template{ width: 19% !important; }
.fourth_col_template{ width: 19% !important; }
.fifth_col_template{ width: 19% !important; }








.fourth_col_template input , .fifth_col_template input 
{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
 

    position: absolute; */
    padding-left: 12px;
    width: 200px;
    height: 32px;
    /* left: calc(50% - 200px/2 + 166.5px); */
    /* top: calc(50% - 32px/2); */

    /* bg_color */

    background: #F7F9FB;
    /* thin_graphic */

    border: 1px solid rgba(216, 222, 236, 0.8);
    box-sizing: border-box;
    border-radius: 0px 2px 2px 0px;
}

.third_col_template select  {

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height, or 120% */

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    background: #40A4B1;
    border-radius: 4px;
    border: none;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;
    outline: none;
}

.contract_table_header, .contract_table_row {
    padding-left: 17px;
    height: 72px;
    display: flex;
    align-items: center;
}

.contract_table_row {
    border-top: 1px solid #f5f5f5;
}

.contract_table_cell_link {
    width: 20px!important;
}



/* 
.contract_table_cell, .contract_table_header_td {
    width: 300px!important;
    border: 1px solid red;
}

.contract_table_cell_link {
    width: 20px!important;
} */

/*
.contract_table_row {
    height: 72px;
    border-top: 1px solid #f5f5f5;
    line-height: 72px;
    padding-left: 17px;
}



.contract_table_cell, .contract_table_header_td {
    width: 200px;
    height: 72px!important;
    border: 1px solid red;
}*/


.form_contract_template_field{
    padding-left: 62px;
    padding-bottom: 20px;
}

.form_contract_template_field input {

    width: 336px;
    height: 32px;
    background: #F7F9FB;
    border: 1px solid rgba(216, 222, 236, 0.8);
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    padding-left: 10px;

}

.form_contract_template_field select {

    width: 336px;
    height: 32px;
    background: #F7F9FB;
    border: 1px solid rgba(216, 222, 236, 0.8);
    box-sizing: border-box;
    border-radius: 2px;
    outline: none;
    padding-left: 10px;

}

.template_of_contract button {
    background-color: red;
}

.form_contract_template_field > label {
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #171619;
}

.template_of_contract input {
    display: none;
}