{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <a class="back" href="{% url 'administration' %}"><i class="icon-remove"></i></a>
            <h1>Договоры</h1>
        </div>
    </div>
    <div class="table-container container-fluid">
        {% include 'common/table_navbar.html' %}
        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <td style="min-width: 54px;"></td>
                    <td style="min-width: 125px;">
                        <div class="table_title">
                            <span class="col-title">№ договора</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 143px;">
                        <div class="table_title">
                            <span class="col-title">Идентификатор</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 200px;">
                        <div class="table_title">
                            <span class="col-title">ФИО</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 133px;">
                        <div class="table_title">
                            <span class="col-title">Паспортные<br>данные</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 180px;">
                        <div class="table_title">
                            <span class="col-title">Email</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 170px;">
                        <div class="table_title">
                            <span class="col-title">Мобильный телефон</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 137px;">
                        <div class="table_title">
                            <span class="col-title">Договор</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 90px;">
                        <div class="table_title">
                            <span class="col-title">Сумма</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 120px;">
                        <div class="table_title">
                            <span class="col-title">Дата<br>генерации</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 113px;">
                        <div class="table_title">
                            <span class="col-title">Дата<br>подписания</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 110px;">
                        <div class="table_title">
                            <span class="col-title">Статус</span>
                            <div class="sort_controls">
                                <a class="up" href="#">
                                    <i class="icon-arrow_up"></i>
                                </a>
                                <a class="down" href="#">
                                    <i class="icon-arrow_down"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for contracts in contract_list %}
                <tr class="tr_contracts_client" data-pk="{{ contracts.pk }}">
                    <td>
                        <div class="url_copy_btn">
                            <img src="{% static 'icon/file.svg' %}">
                            <input name="contract_url" type="hidden" value="random_url">
                            <div class="alert">Ссылка скопирована</div>
                        </div>
                    </td>
                    <td>#{{ contracts.number }}</td>
                    <td class="light">{{ contracts.identifier }}</td>
                    <td class="light">{{ contracts.full_name }}</td>
                    <td class="light">{{ contracts.passport }}</td>
                    <td class="light">{{ contracts.email }}</td>
                    <td class="light">{{ contracts.phone }}</td>
                    <td class="light">Имя договора</td>
                    <td class="light">{{ contracts.amount }}</td>
                    <td class="light">{{ contracts.date_created }}</td>
                    <td class="light">{{ contracts.date_signed }}</td>
                    <td class="light">
                        <div class="status_box">
                            <i class="icon-more"></i>
                            {% if contracts.status == "Подписан" %}
                                <button class="btn btn_cyan">{{ contracts.status }}</button>
                            {% elif contracts.status == "Направлен" %}
                                <button class="btn btn_yellow">{{ contracts.status }}</button>
                            {% elif contracts.status == "Аннулирован" %}
                                <button class="btn btn_gray">{{ contracts.status }}</button>
                            {% else %}
                                <button class="btn btn_pink">{{ contracts.status }}</button>
                            {% endif %}
                            <div class="cancel">
                                <i class="icon-otkaz"></i>
                                <span>Отказ</span>
                            </div>
                        </div>
                    </td>
                    <td class="light"><a class="download_button" href="#"><img src="{% static 'icon/download.svg' %}"></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            {% include 'common/pagination.html' with items=contracts_client %}
        </div>
    </div>
    <form action="#" id="contract_client_form" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>
</div>
{% endblock %}
