{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <a class="back" href="{% url 'administration' %}"><i class="icon-remove"></i></a>
            <h1>Договоры</h1>
        </div>
    </div>
    <div class="table-container container-fluid table-contracts-list">
        {% include 'common/table_navbar.html' %}
        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <td style="min-width: 35px;"></td>
                    <td style="min-width: 108px;">
                        <div class="table_title">
                            <span class="col-title">№ договора</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="contract_number_min" value="contract_number_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="contract_number_max" value="contract_number_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 125px;">
                        <div class="table_title">
                            <span class="col-title">Идентификатор</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="contract_number_min" value="contract_number_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="contract_number_max" value="contract_number_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 160px;">
                        <div class="table_title">
                            <span class="col-title">ФИО</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="contract_number_min" value="contract_number_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="contract_number_max" value="contract_number_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    {% comment %}

                    <td style="min-width: 125px;">
                        <div class="table_title">
                            <span class="col-title">Паспортные<br>данные</span>
                        </div>
                    </td>
                    <td style="min-width: 180px;">
                        <div class="table_title">
                            <span class="col-title">Электронная почта</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="contract_number_min" value="contract_number_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="contract_number_max" value="contract_number_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 170px;">
                        <div class="table_title">
                            <span class="col-title">Мобильный телефон</span>
                        </div>
                    </td>

                    {% endcomment %}

                    <td style="min-width: 112px;">
                        <div class="table_title">
                            <span class="col-title">Договор</span>
                            <!--                            <div class="sort_controls">-->
                            <!--                                <a class="up" href="#">-->
                            <!--                                    <i class="icon-arrow_up"></i>-->
                            <!--                                </a>-->
                            <!--                                <a class="down" href="#">-->
                            <!--                                    <i class="icon-arrow_down"></i>-->
                            <!--                                </a>-->
                            <!--                            </div>-->
                        </div>
                    </td>
                    <td style="min-width: 90px;">
                        <div class="table_title">
                            <span class="col-title">Сумма</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="contract_number_min" value="contract_number_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="contract_number_max" value="contract_number_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 102px;">
                        <div class="table_title">
                            <span class="col-title">Дата<br>генерации</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="date_created_min" value="date_created_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="date_created_max" value="date_created_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 103px;">
                        <div class="table_title">
                            <span class="col-title">Дата<br>подписания</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="date_singed_min" value="date_singed_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="date_singed_max" value="date_singed_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 90px;">
                        <div class="table_title">
                            <span class="col-title">Статус</span>
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="status_min" value="status_min">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="status_max" value="status_max">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                {% for contracts in contract_list %}

                <tr class="tr_contracts_client {% if contracts.status == 'Подписан' %}bg-signed{% elif contracts.status == 'Направлен' %}bg-sent{% elif contracts.status == 'Аннулирован' %}bg-canceled{% endif %}"
                    data-pk="{{ contracts.pk }}"
                    data-contract-number="{{ contracts.number }}">
                    <td style="padding-right: 4px">
                        <div class="url_copy_btn">
                            <img src="{% static 'icon/file.svg' %}">
                            <input name="contract_url" type="hidden" value="random_url">
                        </div>
                    </td>
                    <td>#{{ contracts.number }}</td>
                    <td class="light">{{ contracts.identifier }}</td>
                    <td class="light">{{ contracts.full_name }}</td>
                    {% comment %}
                    <td class="light">{{ contracts.passport }}</td>
                    <td class="light">{{ contracts.email }}</td>
                    <td class="light">{{ contracts.phone }}</td>
                    {% endcomment %}
                    <td class="light">Имя договора</td>
                    <td class="light">{{ contracts.amount }}</td>
                    <td class="light">{{ contracts.date_created | date:"d/m/Y" }}</td>
                    <td class="light">{{ contracts.date_signed | date:"d/m/Y"}}</td>
                    <td class="light">
                        <div class="status_box">
                            <i class="icon-more"></i>
                            {% if contracts.status == "Подписан" %}
                            <button class="btn btn_cyan">{{ contracts.status }}</button>
                            {% elif contracts.status == "Направлен" %}
                            <button class="btn btn_yellow">{{ contracts.status }}</button>
                            {% elif contracts.status == "Аннулирован" %}
                            <button class="btn btn_gray">{{ contracts.status }}</button>
                            {% else %}
                            <button class="btn btn_pink">{{ contracts.status }}</button>
                            {% endif %}
                            <div class="cancel">
                                <i class="icon-otkaz"></i>
                                <span>Отказ</span>
                            </div>
                        </div>
                    </td>
                    <td class="light" style="padding-left: 4px"><a class="download_button" href="#"><img src="{% static 'icon/download.svg' %}"></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end">
            {% include 'common/pagination.html' with items=contracts_client %}
        </div>
    </div>
    <form action="#" id="contract_client_form" class="d-none" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </form>
</div>
<div class="alert_wrapper">
    <div class="alert alert-dismissible fade copy_success_alert" role="alert">
        Ссылка скопирована в буфер обмена.
        <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
            <img src="{% static 'icon/close.svg' %}">
        </button>
    </div>
    {% endblock %}
