{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <a class="back" href="{% url 'administration' %}"><i class="icon-remove"></i></a>
            <h1>Договоры</h1>
        </div>
    </div>
    <div class="table-container container-fluid">
        {% include 'common/table_navbar.html' %}

        <div class="table-wrapper">
            <table class="table">
                <thead>
                <tr>
                    <td style="min-width: 200px;">
                        <div class="table_title">
                            Название
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="name_max" value="name_max">
                                        <i class="icon-arrow_up"></i>
                                    </button>

                                    <button class="down" name="name_min" value="name_min">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 150px;">
                        <div class="table_title">
                            Договор
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="contract_max" value="contract_max">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="contract_min" value="contract_min">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 170px;">
                        <div class="table_title">
                            Статус
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="status_max" value="status_max">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="status_min" value="status_min">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="table_title">
                            Идентификатор
                            <div class="sort_controls">
<!--                                <a class="up" href="#">-->
<!--                                    <i class="icon-arrow_up"></i>-->
<!--                                </a>-->
<!--                                <a class="down" href="#">-->
<!--                                    <i class="icon-arrow_down"></i>-->
<!--                                </a>-->
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="table_title">
                            Сумма
                            <div class="sort_controls">
                                <form action="." method="GET">
                                    <button class="up" name="status_max" value="status_max">
                                        <i class="icon-arrow_up"></i>
                                    </button>
                                    <button class="down" name="status_min" value="status_min">
                                        <i class="icon-arrow_down"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                    <td style="min-width: 50px;"></td>
                </tr>
                </thead>
                <tbody>


                {% for contract in contract_template_list %}
                <tr class="tr_contract">
                    <input name="contract_template_pk" type="hidden" value="{{ contract.pk }}">
                    <td>{{ contract.name }}</td>
                    <td class="light">Договор {{ contract.pk }}</td>
                    <td id="status">
                        <div class="dropdown status_box">
                            <input name="status" type="hidden" value="{% if contract.status == 'Актуально' %}Устарело{% else %}Актуально{% endif %}">
                            <button class="btn {% if contract.status == 'Актуально' %}btn_cyan{% else %}btn_gray{% endif %}">
                                {{ contract.status }}
                                <i class="icon-select"></i>
                            </button>
                            <div class="cancel">
                                {% if contract.status == 'Устарело' %}
                                    <img src="{% static 'icon/actual.svg' %}">
                                    <span>Сделать актуальным</span>
                                {% else %}
                                    <span>Устарело</span>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                    <td>
                        <input class="input input-id" name="identifier" value="{{ contract.full_name }}"
                               {% if contract.status == 'Устарело' %}disabled{% endif %}
                        >
                    </td>
                    <td>
                        <input class="input input-sum" name="amount" value="{{ contract.amount }}"
                               {% if contract.status == 'Устарело' %}disabled{% endif %}
                        >
                    </td>
                    <td>
                        <div class="url_copy_btn" data-status="{{ contract.status }}">
                            <img src="{% static 'icon/file.svg' %}">
                            <input name="contract_url" type="hidden" value="random_url">
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="alert_wrapper">
            <div class="alert alert-dismissible fade copy_success_alert" role="alert">
          Добавлена новая запись во вкладке Договоры.<br>
            Сформированная ссылка скопирована в буфер обмена.
          <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
              <img src="{% static 'icon/close.svg' %}">
          </button>
        </div>
        </div>

        <div class="d-flex justify-content-end">
            {% include 'common/pagination.html' with items=contract_template_list %}
        </div>
    </div>

    <div aria-hidden="true" class="modal fade" id="contract_add_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2>Создать договор</h2>
                <form action="" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {{ form_contract_template.create_form }}

                    <div class="form-group">
                        {{ form_contract_template.amount }}
                        {{ form_contract_template.amount.errors }}
                    </div>

                    <div class="form-group">
                        {{ form_contract_template.status }}
                        {{ form_contract_template.status.errors }}
                    </div>
                    <div class="form-group">
                        {{ form_contract_template.type }}
                        {{ form_contract_template.type.errors }}
                    </div>
                    <div class="form-group">
                        {{ form_contract_template.company }}
                        {{ form_contract_template.company.errors }}
                    </div>
                    <div class="d-flex justify-content-between">
                        <label for="id_template_of_contract">+ Загрузить договор</label>
                        <div class="d-flex">
                            <span class="refresh"><img src="{% static 'icon/refresh-ccw.svg' %}"></span>
                            <span class="clear"><img src="{% static 'icon/x-circle.svg' %}"></span>
                        </div>
                    </div>

                    {{ form_contract_template.template_of_contract }}
                    {{ form_contract_template.template_of_contract.errors }}

                    {{ form_contract_template.check_file }}
                    {{ message }}
                    <div class="buttons">
                        <button class="btn" data-bs-dismiss="modal" type="button">Отмена</button>
                        <button class="btn btn_grd">Отправить</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <form action="" id="contract_update_form" method="POST">
        <input name="csrfmiddlewaretoken" type="hidden" value="{{ csrf_token }}">
    </form>
</div>
<div class="copy_alert alert">Ссылка скопирована</div>
{% endblock %}
