.quest_first_step_input {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
}

.quest_first_step_input_label {

    /* Action */
    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2vw;
    /* line-height: 15px; */
    letter-spacing: 0.02em;

    /* Secondary */
    color: #6A728A;
    margin-bottom: 5px;

}

.quest_first_step_input_input input {

    width: calc(100% - 17px);
    min-height: 44px;

    background: #FFFFFF;
    outline: none;
    /* thin_graphic */

    border: 1px solid rgba(216, 222, 236, 0.8);
    border-radius: 2px;

    /* Placeholder */

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 300;
    font-size: 3.7vw;
    /* line-height: 18px; */

    color: #A8AEBA;

    padding-left: 17px;

}

.btn_div {
    margin: 0 17px;
}

.btn {
    width: 100%;
    border: none;
    outline: none;
    /* height: 44px; */
    /* left: calc(50% - 343px/2); */
    /* top: calc(50% - 44px/2 + 419px); */
    /* new_gradient */
    background: linear-gradient(71.59deg, #60326B 0%, #BD2971 100%);
    border-radius: 2px;

    /* Action */

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2vw;
    /* line-height: 15px; */
    /* letter-spacing: 0.02em; */

    color: #FFFFFF;
    cursor: pointer;

    margin-bottom: 10px;
    padding-bottom: 15px;
    padding-top: 15px;

}

.quest_first_step_input_label_info {

    /* Secondary */
    margin-bottom: 5px;

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2vw;
    /* line-height: 15px; */
    /* identical to box height, or 125% */
    color: #17161A;
    display: inline-block;
    margin-left: 10px;

    padding-top: 1%;

}

.span_approv {

    width: 16px;
    height: 16px;

    background: #FFFFFF;
    /* thin_graphic */

    border: 2px solid rgba(216, 222, 236, 0.8);
    box-sizing: border-box;
    border-radius: 2px;
}


.myCheckbox input {
    display: none;
}

.mySuperSpan {

    width: 16px;
    height: 16px;
    display: inline-block;
    background-color: white;
    border: 2px solid #D8DEEC;
    border-radius: 2px;

}

.myCheckbox input:checked + span {
    background: url("./img/check.png");
    background-size: contain;
}

.item_checkbox {
    position: relative;
    display: flex;
    align-items: center;
}

#quest_first_step_send_code_again {
    /* Action */
    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2vw;
    /* line-height: 15px; */
    letter-spacing: 0.02em;
 
    /* Secondary */
    color: #6A728A;
    margin-bottom: 15px;
    margin-left: 16px;
}

#send_again_span {
    /* color: linear-gradient(71.59deg, #60326B 0%, #BD2971 100%); */
    color: #BD2971;
}