.send_title {

    text-align: center;
    margin: 0 16px;
    margin-bottom: 10px;
    font-family: Styrene A Web;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8vw;
    /* line-height: 22px; */
    color: #171619;

}

.count_five_day {
    /* Paragraph */

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 300;
    font-size: 3.7vw;
    /* line-height: 20px; */
    /* or 143% */

    text-align: center;

    /* Active color */

    color: #171619;

    margin: 0 16px;
    margin-bottom: 10px;
}

.greetings {
    
    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 500;
    font-size: 3.7vw;
    /* line-height: 18px; */
    /* identical to box height */

    text-align: center;

    /* Active color */

    color: #171619;

}

.qr_code_div {
    margin-top: 44px;
    margin-bottom: 44px;
    text-align: center;
}

.link_btn {
    display: block;
    text-align: center;
    text-decoration: none;
}