@import url('../font/stylesheet.css');
@import url('./progress_bar.css');
@import url('./first.css');
@import url('./second.css');
@import url('./third.css');
@import url('./fourth.css');

* {
    padding: 0;
    margin: 0;
}

.quest {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F5F5F5;
    overflow-y: scroll;
}

.quest_title {
    margin-top: 36px;
    margin-left: 16px;
    margin-right: 16px;

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: bold;
    font-size: 7.5vw;
    /* line-height: 30px; */
    color: #201622;
}
