.quest_third {
    width: 100%;
    height: 90%;
}

.quest_third_sign_box {
    background-color: white;
    height: 65%;
    overflow-y: scroll;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 18px;

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 300;
    font-size: 3.7vw;
    /* line-height: 20px; */
    text-align: justify;
    color: #171619;

}

.sign_title {

    margin: 0 16px;
    margin-bottom: 10px;
    font-family: Styrene A Web;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8vw;
    /* line-height: 22px; */
    color: #171619;

}

.canvas_content {
    min-height: 400px;
}

.clear_canvas {
    float: right;
    width: 129px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(216, 222, 236, 0.8);
    border-radius: 2px;
    text-align: center;
    line-height: 35px;

    font-family: Styrene A Web;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;

    color: #201622;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}